In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

### Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [2]:
df = pd.read_csv('2017_jun_final.csv')

### Прочитайте отриману таблицю, використовуючи метод head

In [3]:
df.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

### Визначте розмір таблиці за допомогою методу shape

In [4]:
df.shape

(8704, 25)

### Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [5]:
df.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

### Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [6]:
(df.isnull().sum()*100/8704).round(2)

N                                    0.00
Должность                            0.00
Язык.программирования               44.23
Специализация                       82.94
Общий.опыт.работы                    0.00
Опыт.работы.на.текущем.месте         0.00
Зарплата.в.месяц                     0.00
Изменение.зарплаты.за.12.месяцев     0.00
Город                                0.00
Размер.компании                      0.00
Тип.компании                         0.00
Пол                                  0.00
Возраст                              0.00
Образование                          0.00
Университет                          4.11
Еще.студент                          0.00
Уровень.английского                  0.00
Предметная.область                   2.56
Дата.заполнения                      0.00
User.Agent                           0.00
exp                                  0.00
current_job_exp                      0.00
salary                               0.00
Валюта                              99.89
cls                                 18.08
dtype: float64

### Видаліть усі стовпці з пропусками, крім стовпця Язык.программирования

In [7]:
d = df.isna().any()
cols_to_ignore = ['Язык.программирования']
d[cols_to_ignore] = False
df.drop(d.index[d], axis=1, inplace=True)

### Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [8]:
(d.isnull().sum()*100/8704).round(2)
d.shape

(25,)

### Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [9]:
df.dropna(inplace=True)
df.shape

(4854, 20)

### Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [10]:
python_data = df[ df["Язык.программирования"] == "Python"]
python_data

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
12,13,Software Engineer,Python,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800
68,69,Software Engineer,Python,1.5,0.5,900,900,Киев,до 10 человек,Стартап,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900
87,88,Junior Software Engineer,Python,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600
114,115,Junior Software Engineer,Python,1.5,0.5,685,250,Киев,до 1000 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,False,средний,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685
143,144,Junior Software Engineer,Python,1,1,750,250,Киев,до 10 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8546,8547,Software Engineer,Python,5,1,2000,800,Запорожье,до 50 человек,Аутсорсинговая,мужской,22,Незаконченное высшее,False,средний,10/07/2017 14:11:26,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,2000
8625,8626,Software Engineer,Python,4,1,1750,0,Киев,свыше 1000 человек,Аутсорсинговая,мужской,28,Среднее,False,средний,11/07/2017 16:15:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,4.0,1.0,1750
8635,8636,Senior Software Engineer,Python,10 и более лет,меньше 3 месяцев,4000,1300,Удаленно,до 10 человек,Стартап,мужской,33,Высшее,False,выше среднего,11/07/2017 17:51:36,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.0,0.0,4000
8673,8674,Junior Software Engineer,Python,0.5,0.5,350,50,Киев,до 50 человек,Аутсорсинговая,мужской,22,Высшее,False,средний,12/07/2017 09:37:16,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,0.5,0.5,350
8695,8696,Software Engineer,Python,1,0.5,1500,1000,Киев,до 10 человек,Стартап,мужской,29,Высшее,False,средний,12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500

### Визначте розмір таблиці python_data за допомогою методу shape

In [11]:
python_data.shape

(207, 20)

### Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [12]:
py_d = python_data.groupby('Должность')
py_d.head()

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
12,13,Software Engineer,Python,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.00,0.00,800
68,69,Software Engineer,Python,1.5,0.5,900,900,Киев,до 10 человек,Стартап,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.50,0.50,900
87,88,Junior Software Engineer,Python,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.50,0.50,600
114,115,Junior Software Engineer,Python,1.5,0.5,685,250,Киев,до 1000 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,False,средний,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.50,0.50,685
143,144,Junior Software Engineer,Python,1,1,750,250,Киев,до 10 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.00,1.00,750
153,154,Software Engineer,Python,2,1,1200,0,Днепр,до 50 человек,Аутстаффинговая,мужской,34,Кандидат,False,продвинутый,12/06/2017 13:20:15,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2.00,1.00,1200
162,163,Junior Software Engineer,Python,0.5,0.5,500,0,Винница,до 200 человек,Аутсорсинговая,мужской,20,Техникум / Колледж,True,ниже среднего,12/06/2017 13:21:08,Mozilla/5.0 (Linux; Android 7.1.2; LG-D802 Bui...,0.50,0.50,500
171,172,Junior Software Engineer,Python,0.25,0.25,800,0,Киев,до 50 человек,Продуктовая,мужской,25,Высшее,False,продвинутый,12/06/2017 13:22:31,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.25,0.25,800
217,218,Software Engineer,Python,8,2,2900,150,Львов,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,False,выше среднего,12/06/2017 13:31:50,Mozilla/5.0 (Windows NT 6.2; Win64; x64) Apple...,8.00,2.00,2900
302,303,Senior Software Engineer,Python,10 и более лет,0.5,3500,-300,Киев,до 200 человек,Продуктовая,мужской,30,Высшее,False,выше среднего,12/06/2017 13:46:24,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,10.00,0.50,3500
373,374,Senior Software Engineer,Python,7,0.5,3100,1000,Днепр,до 200 человек,Аутсорсинговая,мужской,30,Высшее,False,выше среднего,12/06/2017 13:58:16,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6...,7.00,0.50,3100
387,388,Software Engineer,Python,4,1.5,1200,0,Другой,до 10 человек,Стартап,мужской,26,Высшее,False,ниже среднего,12/06/2017 14:01:02,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,4.00,1.50,1200
1172,1173,Senior Software Engineer,Python,2,2,1300,800,Львов,до 50 человек,Другая,мужской,20,Незаконченное высшее,True,средний,12/06/2017 17:38:00,Mozilla/5.0 (Linux; Android 6.0.1; Redmi 3S Bu...,2.00,2.00,1300
1363,1364,Senior Software Engineer,Python,10 и более лет,2,1500,1000,Удаленно,до 10 человек,Стартап,мужской,35,Высшее,False,элементарный,12/06/2017 19:10:01,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:53.0) ...,10.00,2.00,1500
1489,1490,Senior Software Engineer,Python,4,1,3300,430,Львов,до 1000 человек,Аутсорсинговая,мужской,27,Высшее,False,выше среднего,12/06/2017 20:48:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.00,1.00,3300
2632,2633,Technical Lead,Python,4,1.5,3500,1000,Киев,до 50 человек,Продуктовая,мужской,23,Незаконченное высшее,False,выше среднего,13/06/2017 12:37:02,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,4.00,1.50,3500
3145,3146,Technical Lead,Python,10 и более лет,2,1425,475,Киев,до 50 человек,Аутсорсинговая,мужской,43,Высшее,False,выше среднего,13/06/2017 14:51:19,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52....,10.00,2.00,1425
3935,3936,Technical Lead,Python,10 и более лет,0.25,3700,0,Киев,свыше 1000 человек,Аутсорсинговая,мужской,34,Высшее,False,выше среднего,14/06/2017 12:26:36,Mozilla/5.0 (Linux; Android 5.0; SM-N900V Buil...,10.00,0.25,3700
4323,4324,Technical Lead,Python,2,2,3300,800,Харьков,до 200 человек,Аутсорсинговая,мужской,26,Высшее,False,средний,15/06/2017 11:16:57,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,2.00,2.00,3300
4746,4747,Technical Lead,Python,5,3,2900,180,Днепр,до 10 человек,Аутстаффинговая,мужской,26,Высшее,False,выше среднего,16/06/2017 21:46:04,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2...,5.00,3.00,2900
5748,5749,System Architect,Python,10 и более лет,0.25,3000,0,Киев,до 50 человек,Продуктовая,мужской,40,Высшее,False,выше среднего,20/06/2017 18:40:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,10.00,0.25,3000
8228,8229,System Architect,Python,10 и более лет,2,5000,0,Киев,до 10 человек,Продуктовая,мужской,31,Высшее,False,средний,06/07/2017 19:15:05,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4...,10.00,2.00,5000

### Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [13]:
df_new = python_data.groupby('Должность').agg({'Зарплата.в.месяц':['min', 'max']})
df_new

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

### Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [14]:
def fill_avg_salary(salary):
  return salary.mean()

In [15]:
df_new['avg'] = df_new.apply(fill_avg_salary, axis=1).round(2)
df_new

                         Зарплата.в.месяц           avg
                                      min   max
Должность
Junior Software Engineer              100  1250   675.0
Senior Software Engineer             1300  9200  5250.0
Software Engineer                     500  5400  2950.0
System Architect                     3000  5000  4000.0
Technical Lead                       1425  6200  3812.5

### Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [16]:
df_new['avg'].describe()

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

### Збережіть отриману таблицю в CSV файл

In [18]:
df_new.to_csv('python_data.csv', encoding='utf8')